* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Anton', sans-serif;
    color: black; 
    text-align: center; 
    background-color: white; 
  }

  .container {
      text-align: center; 
  }
  
  #content {
    margin-top: 200px; 
  }

  #canyou {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  }

  #margin {
    margin-top: 80px; 
  }

  #animalbanner {
    height: 500px; 
  }

  @media only screen and (max-width: 1292px) {
    #animalbanner {
      height: 300px; 
      margin-top: 100px; 
    }
  }  

  #contentbubble {
    height: 400px; 
  }

  #rightsection {
    background-color: white; 
  }

  .footer {
    text-align: center;
    border-top-color: rgb(255, 196, 0);
    border-top-style: solid;
    border-top-width: 10px;
    background-color: rgb(41, 10, 155); 
    color: white; 
    padding: 10px; 
    clear: both; 
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 110%;
  }